<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <!-- <div class="form-group">
                <label for="fName">Full Name</label>                
                <input id="fName" name="fName" [(ngModel)]="fName" type="text" class="form-control">
            </div>     -->
            <div class="form-group ">
                <label>First Name</label>
                <input type="text" name="fName" class="form-control" [(ngModel)]="employee.fName" #name="ngModel">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email"  type="text" class="form-control" [(ngModel)]="employee.email" #email="ngModel">
            </div>  
            

            <div class="form-group">
                <label>Phone No.</label>
                <input id="phoneNumber" name="phoneNumber"  type="text" class="form-control" [(ngModel)]="employee.phoneNumber" #phoneNumber="ngModel">
            </div>  
            

            <div class="form-group">
                <label >Gender</label>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio"  [(ngModel)]="employee.gender"  value="male" name="gender">  
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="female" name="gender"  [(ngModel)]="employee.gender" > 
                        FeMale
                    </label>
                </div>
              </div> 

              <div class="form-group">
                <label >ContactPreference</label>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio"  [(ngModel)]="employee.contactPreference"  value="male" name="contactPreference">  
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="female" name="contactPreference"  [(ngModel)]="employee.contactPreference" > 
                        FeMale
                    </label>
                </div>
              </div> 

              <div class="form-group">
                  <div class="form-group">                    
                    <label class="checkbox-inline">
                        <input type="checkbox" name="isActive"  [(ngModel)]="employee.isActive" >Is Active                         
                    </label>
                </div>
              </div> 

              <div class="form-group">                                   
                  <label for="department">  
                      Department                                       
                  </label>        
                  <select type="department" id="department" name="department"  [(ngModel)]="employee.department"  class="form-control">
                      <option *ngFor="let dept of departments" [value]="dept.id">
                          {{dept.Name}}
                          </option> 
                  </select> 
              </div> 

              <div class="form-group">                               
                  <label for="dateOfBirth">date Of Birth </label>
                  <input name="dateOfBirth" type="date" [(ngModel)]="employee.dateOfBirth" class="form-control" >
                  <!-- <input name="dateOfBirth" type="date" bsDatepicker [(ngModel)]="model.dateOfBirth" class="form-control" > -->
              </div> 

            <!-- 
              <div class="form-group">                               
                <label for="dateOfBirth">date Of Birth </label>
                <input name="dateOfBirth" type="date" [(ngModel)]="model.dateOfBirth" class="form-control" >              
              </div>  -->

              <!-- <div class="form-group">                               
                <label for="photoPath">photoPath</label>
                <input name="photoPath" type="date" [(ngModel)]="model.photoPath" class="form-control" >
               </div> 

               <div class="form-group">                               
                 <img [src]="photoPath" height="200" width="200">
                </div>  -->

        </div>
        <div class="panel-footer">
        <button type="submit" class="btn btn-primary">save</button>
        </div>
    </div>
</form>

Angular Generated Form Model : {{employeeForm.value | json}}
<br/>
<br/>

Angular Generated Form Model : {{employee | json}}