<!-- <div class="container">
<app-list-employees></app-list-employees>
</div> -->
<div class="container">
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="list">List</a>
        </li>
        <li>
          <a routerLink="create">Create</a>
        </li>
      </ul>
  </nav>
<router-outlet></router-outlet>
</div>
